{% extends "base.html" %}
{% block title %}Contacto - Lunarya{% endblock %}

{% block content %}
<main>
  <div class="titulo_contacto">
    <h1>Vení a vivir una experiencia única de sabor y relajación.</h1>
    <img src="{{ url_for('static', filename='imagenes/Reception.jpg') }}" alt="imagen de recepcion" />
  </div>

  <section>
    <h2 class="titulo_h2_contacto">Contactate con nosotros para más información.</h2>
    <fieldset>
      <form method="POST" id="formulario_contacto">
        {{ form.hidden_tag() }}
        
        <div class="form-row">
          <div class="form-group">
            {{ form.nombre.label }} {{ form.nombre(class="input") }}
            {% for error in form.nombre.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.apellido.label }} {{ form.apellido(class="input") }}
            {% for error in form.apellido.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            {{ form.email.label }} {{ form.email(class="input") }}
            {% for error in form.email.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.telefono.label }} {{ form.telefono(class="input") }}
            {% for error in form.telefono.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="form-message">
          {{ form.mensaje.label }}<br />
          {{ form.mensaje(class="textarea") }}
          {% for error in form.mensaje.errors %}
            <div class="error-text">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="form-submit">
          {{ form.submit(class="submit-button") }}
        </div>
      </form>
    </fieldset>
  </section>

  <section>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8676630166015!2d-60.6463939235566!3d-32.954503173590005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1747849829692!5m2!1ses-419!2sar"
      width="100%" height="400" style="border: 0" allowfullscreen loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </section>
</main>
{% endblock %}