<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <title>Habitaciones - Lunarya</title>
</head>
<body>
<header>
    <nav>
        <img src="../imagenes/Lunarya.png" alt="Logo hotel" class="logo">
    <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
    
        <li class="submenu">
            <a href="./servicios.html">Servicios</a>
        <ul>
            <li><a href="./gastronomia.html">Gastronomía</a></li>
            <li><a href="./spa.html">Spa</a></li>
        </ul>
        </li>
    
        <li class="submenu">
        <a href="./habitaciones.html">Habitaciones</a>
        <ul>
            <li><a href="./habitaciones.html">Deluxe</a></li>
            <li><a href="./habitaciones.html">Junior Suite</a></li>
            <li><a href="./habitaciones.html">Executive Suite</a></li>
        </ul>
        </li>
    
        <li><a href="./contacto.html">Contacto</a></li>
        <li><a href="./reservar.html">Reservar</a></li>
    </ul>
    </nav>
</header>
    <main>
        <section>
    <div class="slider">
        <h1>Nuestras Habitaciones</h1>
        <h2>Descubre el confort y elegancia de nuestros espacios</h2>
        <img src="../imagenes/CardHabitacion.jpg" alt="habitaciones hotel">
    </div>
</section>
    
    
    <div class="habitaciones-container">
        <div class="habitacion-card">
            <div class="habitacion-imagen">
                <img src="../imagenes/habitacion_deluxe.jpg" alt="Habitación Deluxe">
            </div>
            <div class="habitacion-info">
                <h2>Deluxe</h2>
                <p>Comodidad y elegancia en una habitación equipada con todo lo necesario para una estadía, ideal para parejas o viajeros que buscan calidad.</p>
                <p>ºDos o tres camas de plaza y media (1,30 x 2,00 m)</p>
                <p>ºWi-Fi sin cargo</p>   
                <p>ºTV Smart de 32''</p>   
                <p>ºCofre de seguridad digital</p>   
                <p>ºServicio de Atención al Huésped</p>   
                <p>ºSecador de pelo</p>   
                <p>ºDesinfección completa</p>   
                <div class="habitacion-amenities">
                    <span>WiFi gratis</span>
                    <span>TV 32"</span>
                    <span>Aire acondicionado</span>
                </div>
                <a href="./reservar.html" class="btn-habitacion">Reservar</a>
            </div>
        </div>
        

        <div class="habitacion-card">
            <div class="habitacion-imagen">
                <img src="../imagenes/junior-suite.jpg" alt="Habitación Junior Suite">
            </div>
            <div class="habitacion-info">
                <h2>Junior Suite</h2>
                <p>Espacio adicional, área de estar y detalles pensados para tu confort, perfecta para quienes buscan un extra de amplitud y estilo.</p>
                <p>ºDos camas de plaza y media (1,30 x 2,00 m) o una de 2 plazas (1,80 m x 2,00 m)</p>
                <p>ºWi-Fi sin cargo</p>   
                <p>ºTV Smart de 40''</p>   
                <p>ºCofre de seguridad digital</p>   
                <p>ºServicio de Atención al Huésped</p>   
                <p>ºSecador de pelo</p>   
                <p>ºDesinfección completa</p>  
                <div class="habitacion-amenities">
                    <span>WiFi gratis</span>
                    <span>TV 40"</span>
                    <span>Minibar</span>
                    <span>Aire acondicionado</span>
                </div>
                <a href="./reservar.html" class="btn-habitacion">Reservar</a>
            </div>
        </div>
        
        <div class="habitacion-card">
            <div class="habitacion-imagen">
                <img src="../imagenes/executive-suite.jpg" alt="Habitación Executive Suite">
            </div>
            <div class="habitacion-info">
                <h2>Executive Suite</h2>
                <p>Nuestra opción más exclusiva: lujo y privacidad, ideal para ocasiones especiales o viajes ejecutivos.</p>
                <p>ºCama King Size (2x2m)</p>
                <p>ºCarta de almohadas</p>
                <p>ºBaño con jacuzzi circular para dos personas</p>
                <p>ºLiving con sillones y escritorio de trabajo</p>
                <p>ºSmart TV de 50''</p>
                <p>ºBatas para utilizar durante su estadía
                <p>ºPantuflas de tela de obsequio</p>
                <p>ºDesayuno sin cargo en la habitación</p>
                <p>ºCofre de seguridad digital</p>
                <p>ºSecador de pelo</p>
                <p>ºServicio de Atención al Huésped</p>
                <p>ºDesinfección completa</p>
                <div class="habitacion-amenities">
                    <span>WiFi gratis</span>
                    <span>TV 50"</span>
                    <span>Minibar</span>
                    <span>Jacuzzi</span>
                    <span>Aire acondicionado</span>
                </div>
                <a href="./reservar.html" class="btn-habitacion">Reservar</a>
            </div>
        </div>
    </div>
    
    <div class="mapa-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8676630166015!2d-60.6463939235566!3d-32.954503173590005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1747849829692!5m2!1ses-419!2sar" 
                width="100%" 
                height="400" 
                style="border:0;" 
                allowfullscreen 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <img src="../imagenes/Lunarya.png" alt="Lunarya" width="250" />
            <p>LUNARYA · SPA & HOTEL</p>
        </div>
        <div class="footer-section">
            <h4>CONTACTO</h4>
            <p>341 123 4567</p>
            <p>+54 9 3416-905-123</p>
            <p>reservas@Lunarya.com.ar</p>
        </div>
        <div class="footer-section">
            <h4>DIRECCIÓN</h4>
            <p>Zeballos 1341, Rosario - Argentina</p>
        </div>
        <div class="footer-section">
            <h4>RED SOCIAL</h4>
            <p>@Lunaryahotek</p>
        </div>
    </div>
</footer>
</body>
</html>