<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <title>Reservas - Lunarya</title>
  </head>
  <body class="reservas-body">
    <header>
      <nav>
        <a href="../index.html">
            <img src="../imagenes/Lunarya.png" alt="Logo hotel" class="logo">
        </a>
        <ul class="menu">
          <li><a href="../index.html">Inicio</a></li>

          <li class="submenu">
            <a href="./servicios.html">Servicios</a>
            <ul>
              <li><a href="./gastronomia.html">Gastronomía</a></li>
              <li><a href="./spa.html">Spa</a></li>
            </ul>
          </li>

          <li class="submenu">
            <a href="./habitaciones.html">Habitaciones</a>
            <ul>
              <li><a href="./habitaciones.html">Deluxe</a></li>
              <li><a href="./habitaciones.html">Junior Suite</a></li>
              <li><a href="./habitaciones.html">Executive Suite</a></li>
            </ul>
          </li>

          <li><a href="./contacto.html">Contacto</a></li>
          <li><a href="./reservar.html">Reservar</a></li>
        </ul>
      </nav>
    </header>

    <main class="reservas-main">
      <form id="reserva_formulario">
        <div class="buscar_disponibilidad">
          <h2 id="Disponibilidad_fecha">Disponibilidad</h2><br>
          <label for="fecha_ingreso">Fecha de ingreso:</label><br><br>
          <input type="date" id="fechaIngreso" required/><br><br>
          <div class="error-text" id="fechaError"></div>

          <label for="fecha_salida">Fecha de salida:</label><br><br>
          <input type="date" id="fechaEgreso" required/><br /><br />
          <div class="error-text" id="fechaErrorEgreso"></div>
        </div>
        <script src="../valida_reserva.js"></script>
      </form>
      <div id="rooms">
        <h2 id="cabecera_habitacion">Habitaciones</h2>

       
        <div class="habitacion_wrapper" id="habitacion_deluxe">
          
          <div id="habitacion_deluxe">
            <img src="../imagenes/habitacion_deluxe.jpg" alt="…" />
          </div>

         
          <div id="habitacion_titulo">
            <h3>Deluxe Twin</h3>
            <p>Habitación Moderna - 45 mts</p>
            <ul class="icono_amenities">
              <li><img src="../iconos/televisor.ico" alt="televisor" /></li>
              <li><img src="../iconos/wifi.ico" alt="wifi" /></li>
              <li><img src="../iconos/caja_fuerte.ico" alt="caja fuerte" /></li>
              <li><img src="../iconos/aire_acondicionado.ico" alt="aire" /></li>
            </ul>
            <div class="icono_dos_personas">
              <p>Para 2 personas.</p>
              <img src="../iconos/dos_personas.ico" alt="2 personas" />
            </div>
            <div class="hab_desayuno_title"><br>
              <p>Habitación y desayuno.</p>
            </div>
          </div>

          <div id="habitacion_precio_desayuno">
            <div>
              <img src="../iconos/informacion.ico" alt="info precio" />
              <h4>
                <small>ARS</small>
                <p>$80.000</p>
              </h4>
            </div>
            <div>
             <label class="cantidad_de_habitaciones">Personas</label>
              <select id="personas_deluxe"  required>
                <option value="">Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <div class="error-text" id="personaError_deluxe"></div>
            </div>
            <div>
              <label class="cantidad_de_habitaciones">Habitaciones</label>
              <select  id="habitaciones_deluxe" required>
                <option value="">Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <div class="error-text" id="habitacionError_deluxe"></div>
            </div>
          </div>
          <!-- fin precio-desayuno -->
        </div>
        <!-- fin .habitacion_wrapper -->
        <!-- JUNIOR SUITE -->
       <div class="habitacion_wrapper" id="habitacion_junior">
          <div id="habitacion_junior">
            <img src="../imagenes/junior-suite.jpg" alt="…" />
          </div>

          <div id="habitacion_titulo">
            <h3>Junior Suite</h3>
            <p>Habitación Moderna - 65 mts</p>
            <ul class="icono_amenities">
              <li><img src="../iconos/televisor.ico" alt="televisor" /></li>
              <li><img src="../iconos/wifi.ico" alt="wifi" /></li>
              <li><img src="../iconos/caja_fuerte.ico" alt="caja fuerte" /></li>
              <li><img src="../iconos/aire_acondicionado.ico" alt="aire" /></li>
            </ul>
            <div class="icono_tres_personas">
              <p>Para 3 personas.</p>
              <img src="../iconos/icono_3_persona.ico" alt="3 personas" />
            </div>
             <div class="hab_desayuno_title"><br>
              <p>Habitación y desayuno.</p>
            </div>
          </div>

          <div id="habitacion_precio_desayuno">
            <div>
               <img src="../iconos/informacion.ico" alt="info precio" />
              <h4>
                <small>ARS</small>
                <p>$90.000</p>
              </h4>
            </div>
            <div>
             <label class="cantidad_de_habitaciones">Personas</label>
              <select id="personas_junior" required>
                <option value="">Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <div class="error-text" id="personaError_junior"></div>
            </div>
            <div>
              <label class="cantidad_de_habitaciones">Habitaciones</label>
              <select id="habitaciones_junior" required>
                <option value="">Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
               <div class="error-text" id="habitacionError_junior"></div>
            </div>
          </div>
        </div>

        <!-- EXECUTIVE SUITE -->
        <div class="habitacion_wrapper" id="habitacion_executive">
          <div id="habitacion_executive">
            <img src="../imagenes/executive-suite.jpg" alt="…" />
          </div>

          <div id="habitacion_titulo">
            <h3>Executive Suite</h3>
            <p>Habitación Moderna - 85 mts</p>
            <ul class="icono_amenities">
              <li><img src="../iconos/televisor.ico" alt="televisor" /></li>
              <li><img src="../iconos/wifi.ico" alt="wifi" /></li>
              <li><img src="../iconos/caja_fuerte.ico" alt="caja fuerte" /></li>
              <li><img src="../iconos/aire_acondicionado.ico" alt="aire" /></li>
            </ul>
            <div class="icono_dos_personas">
              <p>Para 3 personas.</p>
              <img src="../iconos/icono_3_persona.ico" alt="3 personas" />
            </div>
              <div class="hab_desayuno_title"><br>
              <p>Habitación y desayuno.</p>
            </div>
          </div>

          <div id="habitacion_precio_desayuno">
            <div>
              <img src="../iconos/informacion.ico" alt="info precio" />
              <h4>
                <small>ARS</small>
                <p>$110.000</p>
              </h4>
            </div>
            <div>
             <label class="cantidad_de_habitaciones">Personas</label>
              <select id="personas_executive" required>
                <option value="">Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <div class="error-text" id="personaError_executive"></div>
            </div>
            <div>
              <label class="cantidad_de_habitaciones">Habitaciones</label>
              <select id="habitaciones_executive" required>
                <option value="">Seleccione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <div class="error-text" id="habitacionError_executive"></div>
            </div>
          </div>
        </div>
      </div>
     <div class="formulario_datos_personales">
  <h4 id="titulo_reserva_formulario">Complete sus datos</h4>
  <form id="form_datos_reserva">
    <div>
      <label for="reserva_nombre">Nombre:</label>
      <input type="text" id="reserva_nombre" name="reserva_nombre" required />
      <div class="error-text" id="nombreError"></div>
    </div>

    <div>
      <label for="reserva_apellido">Apellido:</label>
      <input type="text" id="reserva_apellido" name="reserva_apellido" required />
      <div class="error-text" id="apellidoError"></div>
    </div>

    <div>
      <label for="reserva_correo">Correo electrónico:</label>
      <input type="email" id="reserva_correo" name="reserva_correo" required />
      <div class="error-text" id="emailError"></div>
    </div>

    <div>
      <label for="reserva_telefono">Número de teléfono:</label>
      <input type="tel" id="reserva_telefono" name="reserva_telefono" required />
      <div class="error-text" id="telefonoError"></div>
    </div>

    <button type="submit" id="boton_reserva" class="boton_reserva">Reservar</button>
  </form>
</div>
    </main>

    <footer class="footer" id="footer_reserva">
      <div class="footer-container">
        <div class="footer-section">
          <img src="../imagenes/Lunarya.png" alt="Lunarya" width="250" />
          <p>LUNARYA · SPA & HOTEL</p>
        </div>
        <div class="footer-section">
          <h4>CONTACTO</h4>
          <p>341 123 4567</p>
          <p>+54 9 3416-905-123</p>
          <p>reservas@Lunarya.com.ar</p>
        </div>
        <div class="footer-section">
          <h4>DIRECCIÓN</h4>
          <p>Zeballos 1341, Rosario - Argentina</p>
        </div>
        <div class="footer-section">
          <h4>RED SOCIAL</h4>
          <p>@Lunaryahotek</p>
        </div>
      </div>
    </footer>
  </body>
</html>
